* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, monospace !important;
}

html,
body,
#root {
    overflow-y: hidden;
    height: 100%;
}

main {
    overflow-y: auto;
    height: calc(100% - 100px);
}

body {
    background-color: var(--secondary-page-color);
}
