.quizCreationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.quizCreationPage > form {
    margin: 15px 0px;
    display: flex;
    width: 800px;
    gap: 30px;
    justify-content: space-between;
}

.quizCreationPage > form > * {
    width: 100%;
}
