.navbar {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 20px 50px;
    background-color: var(--ternary-page-color);
    z-index: 2;
    position: sticky;
    top: 0;
}

.navbar > h1 {
    cursor: pointer;
    transition: transform 0.2s;
}

.navbar > h1:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.searchBar {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.searchBarInput {
    background-color: white;
    border-radius: 10px;
    width: 60%;
}

.searchBar > svg {
    height: 30px;
    width: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.searchBar > svg:hover {
    transform: scale(1.2);
}

.loginButton {
    width: auto;
    height: 50px;
    justify-self: flex-end;
    font-size: 20px !important;
}

@media (max-width: 799px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .searchBar {
        display: none;
    }

    .loginButton {
        display: none !important;
    }
}
