.quizPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizPage::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;
}

.quizInfo {
    padding: 40px;
    background-color: var(--primary-page-color);
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px 10px var(--dark-shadow-color);
    margin: auto 0px;
}

.quizInfo > p {
    font-size: 20px;
}

.quizInfo > button {
    font-size: 20px;
}
