.loginPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 500px;
    background-color: var(--primary-page-color);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 10px 10px 10px 10px rgb(223, 223, 223);
    margin-inline: 20px;
}

.loginForm > p {
    text-align: center;
}

.loginForm button {
    margin-top: 30px;
    width: 50%;
    height: 40px;
    font-size: 20px;
}

.loginInput {
    width: 100%;
}

.loginTitle {
    text-align: center;
    margin-bottom: 30px;
}
