.quiz {
    margin: auto 0px;
    padding: 20px;
    background-color: var(--primary-page-color);
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 10px 10px 10px 10px var(--dark-shadow-color);
}

.quiz p {
    font-size: 20px;
}

.quiz button {
    font-size: 20px;
}

.quizHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.quizHeader > * {
    justify-self: center;
}
