.answerCreator {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 30px;
    justify-content: space-between;
}

.errorMessage {
    text-align: center;
}
