.answerCreator > h3 {
    text-align: center;
}

.multipleChoice {
    margin: 15px 0px;
    display: flex;
    width: 800px;
    gap: 30px;
    justify-content: space-between;
}

.multipleChoice > button {
    width: 263px;
}

.newAnswer {
    text-align: center;
}
